.email-input {
  width: 100%;
}

.submit-btn {
  width: 100%;
}

.error-container {
  height: 38px;
  width: 100%;
  color: #d9544f;
  font-size: 12px;

  a,
  a:hover {
    color: #d9544f;
    text-decoration: underline;
    font-size: 12px;
  }
}
